<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1 class="heading">Message Board</h1>
    <h2 class="subheading">(Now with postgreSQL!)</h2>
    <a href="./new"><button>Post a message</button></a>
    <div class="board">
      <% for(let i=messages.length-1; i>=0; i--) { %>
      <h2 class="message">
        <%= messages[i].name %> <br />
        <br />
        <%= messages[i].message %> <br />
        <br />
        <%= "at " + messages[i].created_at%>
      </h2>
      <% } %>
    </div>
  </body>
</html>
